<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74889435670-irlta149gq94q13en8hmceqfa1kukl47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74889435670-irlta149gq94q13en8hmceqfa1kukl47</string>
	<key>API_KEY</key>
	<string>AIzaSyBLmcQp2WfE3MPaiDiHKwn5eBIQ1MaajbE</string>
	<key>GCM_SENDER_ID</key>
	<string>74889435670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lera.Wishlist</string>
	<key>PROJECT_ID</key>
	<string>wish-list-5d255</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-list-5d255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74889435670:ios:c98744c9dec17ad7887337</string>
	<key>DATABASE_URL</key>
	<string>https://wish-list-5d255.firebaseio.com</string>
</dict>
</plist>